<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous" />
    <link rel="stylesheet" href="/style.css">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            transition: 0.15s ease-in-out;
        }

        .adjust {
            height: 80px;
            background: transparent;
        }

        body {
            background-color: azure;
            padding: 0 8%;
        }

        .h-100vh {
            height: 100vh;
        }

        .sidebar {
            background-color: #2c3e50;
            /* updated dark indigo */
            height: 100%;
            overflow-y: scroll;
            scrollbar-width: none;
        }

        .sidebar button {
            width: 100%;
            margin-bottom: 10px;
        }

        .form-section {
            background-color: #ecf0f3;
            /* updated light gray-blue */
            height: 100vh;
            overflow-y: scroll;
            scrollbar-width: none;
            padding: 5%;
        }

        form {
            width: 100%;
            max-width: 400px;
        }

        a:hover {
            text-decoration: none;
            color: black;
        }

        .sidebar-item {
            display: block;
            padding: 10px 15px;
            color: white;
            font-weight: bold;
        }

        .sidebar-item:hover {
            color: white;
            background: #34495e;
            /* updated hover color */
            font-weight: bold;
        }

        .w-20 {
            width: 25%;
        }

        .w-5 {
            width: 5%;
        }

        .img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        ul.list-group {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        ul.list-group .list-group-item {
            background-color: #ffffff;
            border: none;
            padding: 12px 15px;
            color: #343a40;
            font-weight: normal;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        ul.list-group .list-group-item:hover {
            background-color: #e9ecef;
            color: #007bff;
        }

        @media (max-width: 768px) {
            body {
                padding: 0;
            }
        }
    </style>
</head>

<body>

    <section class="home-page">
        <div class="container-fluid">
            <div class="row h-100vh">
                <div class="col-12 col-md-4 col-lg-3 p-0">
                    <div class="sidebar">
                        <div class="adjust">
                            <h4 class="text-center pt-3" style="color: white;"><img class="img"
                                    src="<%=userdetails.photo%>" alt="">
                                welcome,<%=userdetails.username%>
                            </h4>
                        </div>
                        <a class="sidebar-item" href="">my details</a>
                        <a class="sidebar-item" href="/peoples">peoples</a>
                        <a class="sidebar-item" href="/upi">upi</a>
                        <a class="sidebar-item " style="color: red;" href="/logout">log out</a>
                    </div>
                </div>
                <div class="col-12 col-md-8 col-lg-9 p-0">
                    <div class="form-section">
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item w-20 py-3 text-center head">user</li>
                            <li class="list-group-item w-75 py-3 text-center head">
                                details
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal">
                            <li class="list-group-item  w-20">first name</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.firstname%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">last name</li>
                            <li class="list-group-item  w-75 ">
                                <%=userdetails.lastname%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">date of birth</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.dob%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">email</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.email%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">gender</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.gender%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">accounttype</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.accounttype%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">adharcard</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.adharcard%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">address</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.address%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">pincode</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.pincode%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">bloodgroup</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.bloodgroup%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">accountnumber</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.accountnumber%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">upi</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.upi%>
                            </li>
                        </ul>
                        <ul class="list-group list-group-horizontal w-100">
                            <li class="list-group-item  w-20">balance</li>
                            <li class="list-group-item  w-75">
                                <%=userdetails.balance%>
                            </li>
                        </ul>

                        <div class="text-center">
                            <img src="<%=a%>" alt="" style="width: 200px; aspect-ratio: 1; border: 3px solid black;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

</body>

</html>